{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="usa-section">
    <form class="usa-form usa-form--large">
      <fieldset class="usa-fieldset">
        <img src="{% static 'img/logo.png' %}" alt="Single Audit Search">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-8">
            {{ form.agency|add_label_class:"usa-label" }}
            {% render_field form.agency class+="usa-select" %}
          </div>
          <div class="tablet:grid-col-8">
            {{ form.sub_agency|add_label_class:"usa-label" }}
            {% render_field form.sub_agency class+="usa-select" %}
          </div>
          <div class="tablet:grid-col-4">
            {{ form.audit_year|add_label_class:"usa-label" }}
            {% render_field form.audit_year class+="usa-select" %}
          </div>
          <div class="tablet:grid-col-8">
          </div>
          <div class="tablet:grid-col-6">
            {{ form.start_date|add_label_class:"usa-label" }}
            {% render_field form.start_date type="date" class+="usa-input" %}
          </div>
          <div class="tablet:grid-col-6">
            {{ form.end_date|add_label_class:"usa-label" }}
            {% render_field form.end_date type="date" class+="usa-input" %}
          </div>
          {{ form.page.as_hidden }}
        </div>
        <div class="grid-row">
          <input type="submit" value="Submit" class="usa-button" alt="Search for single audits">
        </div>
      </fieldset>
    </form>
    {% if page.object_list %}
      <hr>
      <div class="grid-row padding-top-2">
        <a href="#" alt="Download CSV">
          <svg
            width="2em"
            height="2em"
            fill="none"
            stroke="#005288"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <use xlink:href="{% static 'img/feather-sprite.svg#download' %}"/>
          </svg>
        </a>
        <span class="line-height-sans-6 padding-left-2">
          <span>
            {% if form.cleaned_data.sub_agency %}
              {{ form.cleaned_data.sub_agency }}
            {% else %}
               {{ form.agency.value }}
            {% endif %}
          </span>
          <div class="font-sans-3xs line-height-sans-3">
            {{ form.cleaned_data.audit_year|default:'All' }} audit year
            {% if form.cleaned_data.start_date or form.cleaned_data.end_date %}
            <br>
              {% if form.cleaned_data.start_date %}
                {{ form.cleaned_data.start_date|date:"SHORT_DATE_FORMAT" }}
              {% endif %}
              -
              {% if form.cleaned_data.end_date %}
                {{ form.cleaned_data.end_date|date:"SHORT_DATE_FORMAT" }}
              {% endif %}
            {% endif %}
          </div>
        </span>
      </div>
      <div class="grid-row">
        <div class="grid-col-12"></div>
          <table class="usa-table font-serif-3xs" style->
            <thead>
              <tr>
                <td colspan="11" style="border: none; background-color: transparent; text-align: right;">
                  {% include './_pagination.html' with page=page %}
                </td>
              </tr>
              <tr>
                <th scope="col">Auditee name</th>
                <th scope="col">Audit accepted</th>
                <th scope="col">Findings count</th>
                <th scope="col">Previous findings</th>
                <th scope="col">Material weakness</th>
                <th scope="col">Questioned costs</th>
                <th scope="col">Amount expended</th>
                <th scope="col">Files</th>
              </tr>
            </thead>
            <tbody>
              {% for result in page.object_list %}
                <tr>
                  <td>{{ result.auditee_name }}</td>
                  <td>{{ result.fac_accepted_date|default_if_none:"Unknown" }}</td>
                  <td class="text-center">
                      <a href="#">{{ result.findings.all | length }}</a>
                  </td>
                  <td class="text-center">TODO</td>
                  <td class="text-center">
                    {% if result.material_weakness %}
                      <i class="fas fa-check"></i>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    {% if result.qcosts %}
                      <i class="fas fa-check"></i>
                    {% endif %}
                  </td>
                  <td>
                    {% if result.tot_fed_expend %}
                    ${{ result.tot_fed_expend|intcomma }}
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ result.form_url }}">Form</a>
                    <a href="{{ result.report_url }}">PDF</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="11" style="border: none; background-color: transparent; text-align: right;">
                  {% include './_pagination.html' with page=page %}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    {% endif %}
  </div>
  {% block error_message %}{% endblock %}

  <script>
    document.querySelector("select[name=agency]").addEventListener('change', function () {
        this.form.sub_agency.value = '';
        this.form.submit();
    }, false);;
  </script>

{% endblock %}
