{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}
{% load agency_name %}

{% block title %}
  Single Audit Search
{% endblock %}

{% block content %}
  <div id="search-results" class="usa-section">
    <form class="usa-form usa-form--large">
      <fieldset class="usa-fieldset">
        <img src="{% static 'img/logo.png' %}" alt="Single Audit Search">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-8">
            {{ form.agency|add_label_class:"usa-label" }}
            {% render_field form.agency class+="usa-select" %}
          </div>
          <div class="tablet:grid-col-8">
            {{ form.sub_agency|add_label_class:"usa-label" }}
            {% render_field form.sub_agency class+="usa-select" %}
          </div>
          <div class="tablet:grid-col-4">
            {{ form.audit_year|add_label_class:"usa-label" }}
            {% render_field form.audit_year class+="usa-select" %}
          </div>
          <div class="tablet:grid-col-8">
          </div>
          <div class="tablet:grid-col-6">
            {{ form.start_date|add_label_class:"usa-label" }}
            {% render_field form.start_date type="date" class+="usa-input" %}
          </div>
          <div class="tablet:grid-col-6">
            {{ form.end_date|add_label_class:"usa-label" }}
            {% render_field form.end_date type="date" class+="usa-input" %}
          </div>
          {{ form.page.as_hidden }}
        </div>
        <div class="grid-row">
          <input type="submit" value="Search single audits" class="usa-button" alt="Search for single audits">
        </div>
      </fieldset>
    </form>
    {% if page.object_list %}
      <hr>
      <div class="audit-results-page">
        <div class="grid-row padding-top-2">
          <a href="#" alt="Download CSV">
            <svg
              width="2em"
              height="2em"
              fill="none"
              stroke="#005288"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <use xlink:href="{% static 'img/feather-sprite.svg#download' %}"/>
            </svg>
          </a>
          <span class="line-height-sans-6 padding-left-2">
            <span>
              {% if form.cleaned_data.sub_agency %}
                {{ form.cleaned_data.sub_agency }}
              {% else %}
                 {{ form.agency.value | agency_name }}
              {% endif %}
            </span>
            <div class="font-sans-3xs line-height-sans-3">
              {{ form.cleaned_data.audit_year|default:'All' }} audit year
              {% if form.cleaned_data.start_date or form.cleaned_data.end_date %}
                <br>
                {% if form.cleaned_data.start_date %}
                  {{ form.cleaned_data.start_date|date:"SHORT_DATE_FORMAT" }}
                {% endif %}
                -
                {% if form.cleaned_data.end_date %}
                  {{ form.cleaned_data.end_date|date:"SHORT_DATE_FORMAT" }}
                {% endif %}
              {% endif %}
            </div>
          </span>
        </div>
        <div class="grid-row">
          <div class="grid-col-12">
            <table class="usa-table font-serif-3xs">
              <thead>
                <tr>
                  <td colspan="9" style="border: none; background-color: transparent; text-align: right;">
                    {% include './_pagination.html' with page=page %}
                  </td>
                </tr>
                <tr>
                  <th scope="col">Auditee name</th>
                  <th scope="col">Audit accepted</th>
                  <th scope="col">Findings count</th>
                  <th scope="col">Previous findings</th>
                  <th scope="col">Cog/oversight agency</th>
                  <th scope="col">Material weakness</th>
                  <th scope="col">Questioned costs</th>
                  <th scope="col">Amount expended</th>
                  <th scope="col">Files</th>
                </tr>
              </thead>
              <tbody>
                {% for result in page.object_list %}
                  <tr>
                    <td>{{ result.auditee_name }}</td>
                    <td>{{ result.fac_accepted_date|date:"SHORT_DATE_FORMAT"|default_if_none:"Unknown" }}</td>
                    <td class="text-center">
                      {% if result.finding_texts.all %}
                        <button class="usa-button usa-button--unstyled" onclick="showFindings({{ result.dbkey }}, {{ result.audit_year }})">
                          {{ result.finding_texts.all | length }}
                        </button>
                      {% else %}
                        {{ result.finding_texts.all | length }}
                      {% endif %}
                    </td>
                    <td class="text-center">TODO</td>
                    <td class="">
                      {% if result.cog_over == 'C' %}
                        {{ result.cog_agency | agency_name }}
                        <span class="text-gray-50 text-italic">Cognizant</span>
                      {% elif result.cog_over == 'O' %}
                        {{ result.oversight_agency | agency_name }}
                        <span class="text-gray-50 text-italic">Oversight</span>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      {% if result.material_weakness %}
                        <i class="fas fa-check"></i>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      {% if result.qcosts %}
                        <i class="fas fa-check"></i>
                      {% endif %}
                    </td>
                    <td>
                      {% if result.tot_fed_expend %}
                      ${{ result.tot_fed_expend|intcomma }}
                      {% endif %}
                    </td>
                    <td>
                      <a href="{{ result.form_url }}">Form</a>
                      <a href="{{ result.report_url }}">PDF</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="9" style="border: none; background-color: transparent; text-align: right;">
                    {% include './_pagination.html' with page=page %}
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="findings-results-page">
        <div class="grid-row">
          <div class="grid-col-12">
            <table class="findings-table usa-table font-serif-3xs">
              <thead>
                <tr>
                  <td colspan="3" style="border: none; background-color: transparent;">
                    <button class="usa-button usa-button--unstyled" onclick="document.getElementById('search-results').classList.toggle('show-findings')">
                      &lt; back to audit list
                    </button>
                  </td>
                  <td colspan="3" style="border: none; background-color: transparent; text-align: right;">
                    {% include './_pagination.html' with page=page %}
                  </td>
                </tr>
                <tr>
                  <th scope="col" style="white-space: nowrap">Finding #</th>
                  <th scope="col" style="white-space: nowrap">CFDA awards</th>
                  <th scope="col">Finding text</th>
                  <th scope="col">Corrective action plan</th>
                  <th scope="col">Previous finding</th>
                </tr>
              </thead>
              <tbody>
                {% for finding_text in finding_texts %}
                  <tr class="finding-collapsed" data-dbkey="{{ finding_text.dbkey }}" data-audit-year="{{ finding_text.audit_year }}">
                    <td class="text-top finding-min-width">
                      {{ finding_text.finding_ref_nums }}
                      <button class="usa-button usa-button--unstyled" onclick="this.parentNode.parentNode.classList.toggle('finding-collapsed'); this.blur();">
                        <i class="fas fa-expand-alt expand-icon"></i>
                      </button>
                      <button class="usa-button usa-button--unstyled" onclick="this.parentNode.parentNode.classList.toggle('finding-collapsed'); this.blur();">
                        <i class="fas fa-compress-alt compress-icon"></i>
                      </button>
                    </td>
                    <td class="text-top">
                      <table class="finding-awards">
                        <tbody>
                          {% for finding in finding_text.findings.all %}
                            <tr>
                              <td>{{ finding.elec_audits.cfda_id }}</td>
                              <td>${{ finding.elec_audits.amount | intcomma }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </td>
                    <td class="text-top">
                      <div class="finding-text">
                        <button title="Copy to clipboard" class="usa-button usa-button--unstyled" onclick="copyToClipboard('{{ finding_text.text | escapejs }}')">
                          <i class="fas fa-paperclip"></i>
                        </button>
                        {{ finding_text.text | escape | linebreaksbr }}
                      </div>
                    </td>
                    <td class="text-top">
                      <div class="finding-text">
                      </div>
                    </td>
                    <td class="text-top finding-min-width">
                      YYYY-001
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% block error_message %}{% endblock %}

  <script>
    document.querySelector('select[name=agency]').addEventListener('change', function () {
      this.form.sub_agency.value = '';
      this.form.submit();
    }, false);

    function showFindings(dbkey, auditYear) {
      // Hide all rows in findings table
      var selector = '.findings-table > tbody > tr';
      document.querySelectorAll(selector).forEach(function (node) {
        node.style.display = 'none';
      });

      // Show rows for this audit
      selector = '.findings-table > tbody > tr[data-dbkey="' + dbkey + '"][data-audit-year="' + auditYear + '"]';
      document.querySelectorAll(selector).forEach(function (node) {
        node.style.display = 'table-row';
      });

      // Show the findings table section
      document.getElementById('search-results').classList.toggle('show-findings');
    }

    var copyToClipboard = function(text) {
      console.log(text);
      // Add an input element to the DOM containing the desired text
      var el = document.createElement('textarea');
      el.setAttribute('readonly', '');
      el.value = text;
      el.style.position = 'absolute';
      el.style.left = '-9999px';
      document.body.appendChild(el);

      // Select the text and copy to the clipboard
      el.select();
      document.execCommand('copy');

      // Cleanup
      document.body.removeChild(el);
    };
  </script>

  <style>
    .finding-min-width {
      min-width: 8em;
    }

    .finding-collapsed .finding-text {
      max-height: 3em;
      overflow: hidden;
    }

    .expand-icon {
      display: none;
    }
    .finding-collapsed .expand-icon {
      display: inline-block;
      color: lightgray;
    }

    .compress-icon {
      display: inline-block;
      color: white;
      background: #57CDFA;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      padding: 2px;
    }
    .finding-collapsed .compress-icon {
      display: none;
    }

    .show-findings .audit-results-page {
      display: none;
    }

    .findings-results-page {
      display: none;
    }

    .show-findings .findings-results-page {
      display: block;
    }

    table.finding-awards td {
      border: none;
      padding: 0 .5em .5em 0;
    }
  </style>
{% endblock %}
