[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
pytest = "*"
mypy = "*"
django-stubs = "*"

[packages]
selenium = "*"
django = ">=3.0.2"
psycopg2-binary = "*"
django-localflavor = "*"
pandas = "*"
whitenoise = "*"
dj-database-url = "*"
smart-open = "*"
django-widget-tweaks = "*"
gunicorn = {extras = ["gevent"],version = "*"}
django-composite-foreignkey = "*"
s3fs = "*"
requests = "*"
django-apscheduler = "*"
pytz = "*"
fontawesome-free = "*"
scrapy = "*"
pdfquery = "*"
spacy-lookup = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz"}

[requires]
python_version = "3.7"
