{% load static %}
<div id="app_header" class="grid-row padding-y-5">
  <div class="grid-col-1"></div>
  <div class="grid-col-8">
    <h1 id="app_title" class="font-serif-lg text-italic">Single Audit Finding Resolution</h1>
  </div>
  <div id="logged_in_username" class="grid-col-2">
    <span class="text-middle">User Name</span>
    <img alt="user icon"
         src="{% static 'img/user-circle-gray.svg' %}"
         height="24"
         class="text-middle margin-x-05" />
  </div>
  <div class="grid-col-1"></div>
</div>
